.logo{
    font-family: 'Lato', sans-serif;
    font-size: 4em;
}
.articles{
    display: inline-block;
    width: 70%;
    border-bottom: solid #34495e 2px;
    margin-top: 40px;
}
.articles:hover{
    text-decoration: none;
    background-color: #bdc3c7;
    
}
.article-lien{
    color: #34495e;
}
.btn_delete{
    background-color: #e04040;
    color: #ecf0f1;
    display: inline-block;
    padding: 15px;
    border-radius: 10px;
    vertical-align: middle;
    margin-top: 100%;

}

.article-element{
    display: inline-block;
    width: 140%;
}
.article-delete{
    display: inline-block;
    width: 30%;
    
}
.conteneur{
    margin-top: 3%;
    display: block;
    padding-top: 2%;
    padding-bottom: 7%;
}
.element{
    display: inline-block;
    width: 70%;
    border-bottom: solid #34495e 2px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.nav_bar{
background-color: #007FFF;
}
.navbar-brand{
    color:#ffffff;
    font-weight: bold;
}
.navbar-brand:hover{
    color:white;
    background-color: #007FFF;
    font-weight: bold;
}

.nav-link{
    color:#d6d6d6;
}
.nav-link:hover{
    color:white;
    background-color: #007FFF;
    
}