body{
    background-image: url("img/non.jpg");
    background-size: Cover;
}
main{
    text-align: center;

}
header{
    text-align: center;
    color: #ecf0f1;
    font-family: 'Bangers', cursive;
}

.formulaire{
    padding-top: 50px;
    padding-bottom: 10px;
}

.center {
  justify-content: center;
  text-align: center;
}

.title_form {
    text-align: center;
    padding-top: 1px;
    padding-bottom: 50px;
}

.title_home {
    text-align: center;
    padding-top: 1px;
    padding-bottom: 50px;
    color: beige;
}

.btn_home {
    padding-top: 10px;
    padding-bottom: 10px;
}