<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Flux</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style_feed.css')}}">
</head>

<body>
  <header>
    
    <nav class="navbar navbar-expand-lg fixed-top nav_bar">
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('feed') }}">Acceuil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('addFlux') }}">Ajout nouveau flux</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}">Deconnexion</a>
          </li>
        </ul>
      </div>
    
    </nav>   
  
  </header>
  
  <main>
    {% block body %}{% endblock %}
  </main>
    
  <footer>
  </footer>
</body>
</html>