{% extends "base.html" %}

{% block body %}
    <div class="container conteneur">
        {% for (fluxParse, fluxOrigin) in zip %}
            <div class="row">
                <div class="col-12 col-md-10">
                    <a href="{{ url_for('visionnerFlux', flowURL=fluxOrigin.flowURL) }}" class="article-lien">
                        <article class="articles">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm">
                                        <h1>{{fluxParse.feed.title}}</h1>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm">
                                        <h2>{{fluxParse.feed.description}}</h2>
                                    </div> 
                                </div>
                            </div>  
                        </article>
                    </a>
                </div>
                <div class="col-12 col-md-1">
                    <a href="{{ url_for('supprimerFlux', userID=fluxOrigin.userID, flowURL=fluxOrigin.flowURL) }}"  class="btn_delete">Supprimer</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}