{% extends "base_home.html" %}

        {% block content %}
            <div class="container formulaire">
                <div class="row button">
                    <div class="col-sm">
                    <p>
                        <a href="{{ url_for('.signin')}}" class="btn_home pure-button pure-button-primary">S'inscrire</a>
                    </p>
                    </div>
                </div>
                <div class="row button">
                    <div class="col-sm">
                    <p>
                        <a href="{{ url_for('.login')}}" class="btn_home pure-button pure-button-primary">Connexion</a> 
                    </p>
                    </div>
                </div>
            </div>
        {% endblock %}